{% extends "base.html" %}

{% block content %}
<div class="content-wrapper container">
    <h2 style="font-weight: bold;">ADBL Department Contact</h2>
    <table class="table table-striped">
        <!--<thead>
            <tr>
                <th>Category</th>
                <th>Lines</th>
            </tr>
        </thead> -->
        <tbody>
            {% for line in telephone_lines %}
            <tr>
                <td><strong>{{ line.category }}</strong></td>
                <td>{{ line.lines }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
