{% extends 'adminbase.html' %}

{% block content %}
<style>
    .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-header {
    background-color: #1A5DAB;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body p {
    color: #666;
    margin: 0;
}

.card-body a {
    color: #1A5DAB;
    text-decoration: none;
    font-weight: bold;
}

</style>
<div class="container">
    <h2 class="text-center" style="font-weight: bold;">DIGITAL ADMIN PORTAL</h2>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                System Downtime Logs
            </div>
            <div class="card-body">
                <p>Welcome! You can enter the Downtime Logs using the options provided.</p>
                <a href="{% url 'downtime_list' %}" target="_blank">View Details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Technical Support Logs
            </div>
            <div class="card-body">
                <p>Welcome! You can enter the Technical Support Logs using the options provided.</p>
                <a href="{% url 'technical_log_list' %}" target="_blank">View Details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Server Access Logs
            </div>
            <div class="card-body">
                <p>Welcome! You can enter the Server Logs using the options provided.</p>
                <a href="{% url 'serverlog_list' %}" target="_blank">View Details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Digital Board Tasks FY 81-82
            </div>
            <div class="card-body">
                <p>Welcome! You can view task logs for fiscal year 81-82 .</p>
                <a href="{% url 'tasklog_default' %}">View Details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Feedback Log (FAQ)
            </div>
            <div class="card-body">
                <p>Welcome! You can check the Feedback from FAQ page with the options provided.</p>
                <a href="{% url 'faq_feedback' %}" target="_blank">View Details</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                FAQ Posts
            </div>
            <div class="card-body">
                <p>Welcome! You can add new FAQ Posts with the options provided.</p>
                <a href="{% url 'admin:digitalapp_post_add' %}" target="_blank">View Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

