{% extends "base_form.html" %}

{% block content %}
<div class="container">
    <h2>Bulk Registration Renew Charge Refund Form Data</h2>
    <a href="{% url 'export_customer_form_csv' %}" class="btn btn-success mb-3">Export to Excel</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer ID</th>
                <th>Account Number</th>
                <th>Branch</th>
                <th>Charge Deducted</th>
                <th>Customer Profile</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for form in page_obj %}
            <tr>
                <td>{{ form.customer_name }}</td>
                <td>{{ form.customer_id }}</td>
                <td>{{ form.account_number }}</td>
                <td>{{ form.branch }}</td>
                <td>{{ form.charge_deducted }}</td>
                <td>{{ form.customer_profile }}</td>
                <td>{{ form.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
