{% extends 'adminbase.html' %}

{% block content %}
<div class="container">
    <h2>Digital Department FY - 81/82: Task Logs</h2>

    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'admin:digitallogs_tasklog_add' %}" class="btn btn-secondary" target="_blank">Add New Task</a>

        <div>
            <label for="category-select">Filter by Category:</label>
            <select id="category-select" class="form-select" onchange="location = this.value;">
                <option value="?category=Overall" {% if selected_category == 'Overall' %}selected{% endif %}>Overall</option>
                <option value="?category=Board 1" {% if selected_category == 'Board 1' %}selected{% endif %}>Board 1</option>
                <option value="?category=Board 2" {% if selected_category == 'Board 2' %}selected{% endif %}>Board 2</option>
            </select>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>SN</th>
                <th>Details</th>
                <th>Task Type</th>
                <th>Assigned Date</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Assigned to</th>
                <th>Days allocated</th>
                <th>Solved Date</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for log in tasklog_page_obj %}
            <tr>
                <!--<td>{{ log.id }}</td>-->
                <td>{{ forloop.counter }}</td>
                <td>{{ log.task_details }}</td>
                <td>{{ log.task_type }}</td>
                <td>{{ log.assigned_date }}</td>
                <td>{{ log.priority }}</td>
                <td>{{ log.status }}</td>
                <td>{{ log.assigned_to }}</td>
                <td>{{ log.days_allocated }}</td>
                <td>{{ log.solved_date }}</td>
                <td>{{ log.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if tasklog_page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ tasklog_page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in tasklog_page_obj.paginator.page_range %}
            {% if tasklog_page_obj.number == num %}
            <li class="page-item active"><a class="page-link">{{ num }}</a></li>
            {% elif num > tasklog_page_obj.number|add:'-3' and num < tasklog_page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}

            {% if tasklog_page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ tasklog_page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ tasklog_page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}
