{% extends 'base.html' %}

{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto text-center">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white">Frequently Asked Questions (FAQs) - Digital Banking Department</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- Blog Post Column -->
        <div class="col-md-8 mt-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <small class="text-muted post-meta">
                        {{ post.created_on.date }} |
                        Categories:
                        {% for category in post.categories.all %}
                            <a href="{% url 'blog_category' category.name %}">
                                {{ category.name }}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                    <p class="post-body">{{ post.body | safe }}</p>
                </div>
            </div>
        </div>

        {% block sidebar %}
        {% include 'sidebar.html' with categories=categories %}
        {% endblock sidebar %}
    </div>
</div>

{% endblock %}
