{% extends "base.html" %}

{% block content %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-10 mx-auto text-center">
                <div class="site-heading">
                    <h3 class="site-heading my-4 mt-3 text-white">Frequently Asked Questions (FAQs) - Digital Banking Department</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <div class="card mb-4">
                <div class="card-body">
                    <form action="{% url 'search_all' %}" method="post">
                        {% csrf_token %}
                        <input type="search" name="searched" placeholder="Search..." class="form-control">
                        <button type="submit" class="btn-filter" style="margin-top: 10px;">Search</button>
                    </form>
                </div>
            </div>

            <div class="search-results">
                {% if searched %}
                    <h3>You Searched For "{{ searched }}"</h3>
                    <br/>
                    {% for post in posts %}
                        <div class="highlight-card">
                            <h4><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h4>
                            <p>{{ post.body | slice:":90" | safe }}...</p>
                        </div>
                    {% empty %}
                        <p>No results found for "{{ searched }}".</p>
                    {% endfor %}
                {% else %}
                    <h3>Hey! You forgot to search for a question...</h3>
                {% endif %}
            </div>
        </div>

        {% block sidebar %}
        {% include 'sidebar.html' with categories=categories %}
        {% endblock sidebar %}

    </div>
</div>
{% endblock %}
