{% block sidebar %}
<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'blog_category' category.name %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Any Questions to ask ?</h5>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" action="{% url 'submit_feedback' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="feedbackText">Your Question</label>
                    <textarea class="form-control" id="feedbackText" name="feedbackText" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="questionedBy">Remarks</label>
                    <input type="text" class="form-control" id="questionedBy" name="questionedBy" required>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock sidebar %}
